*{
    box-sizing: border-box;
    
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    font-family: 'Nunito', sans-serif;
	font-family: 'Open Sans', sans-serif;
}



.sh-cont{
    width: 1100px;
    height: 670px;
    position: relative;
}
.sh-cont img{
    height: 100%;
    width: 100%;
    border-radius: 25px;
}

.sh-cont p{
    position: absolute;
    top: 40%;
    left: 50%;
    transform:translate(-50%, -50%) ;
    color: whitesmoke;
    font-size: 60px;
    font-weight: 700;
}

.container{
    width: 1320px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:15px;
    margin: 0 auto;
}
.text{
    max-width: 1024px;
    margin: 50px auto;
    text-align: center;
}
.text p{
    font-size: 17px;
    margin: 0 0 30px;
    line-height: 1.7;
}

iframe{
    width: 100%;
    margin-bottom: 30px
}
