*{
    box-sizing: border-box;
    
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
	font-family: 'Open Sans', sans-serif;
}



.sh-cont{
    width: 1100px;
    height: 670px;
    position: relative;
}
.sh-cont img{
    height: 100%;
    width: 100%;
    border-radius: 25px;
}

.sh-cont p{
    position: absolute;
    top: 40%;
    left: 50%;
    transform:translate(-50%, -50%) ;
    color: whitesmoke;
    font-size: 60px;
    font-weight: 700;
}

.container{
    width: 1320px;
}
.karusel{
    height:300px;
}
.karusel .slick-list{
    height: 100%;
}
.karusel .slick-list .slick-slide{
    height: 100%;
}
.karusel .slick-list .slick-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.slick-prev:before, .slick-next:before{
    color: black;
}