* {
    box-sizing: border-box;
}
html,body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	height: 100%;
	justify-content: center;
	align-items: center;
	background-color: #212121;
	font-family: "Montserrat", sans-serif;
}



.pattern {
	width: 100%;
	
	--s: 37px; /* control the size */

	--c: #0000, #282828 0.5deg 119.5deg, #0000 120deg;
	--g1: conic-gradient(from 60deg at 56.25% calc(425% / 6), var(--c));
	--g2: conic-gradient(from 180deg at 43.75% calc(425% / 6), var(--c));
	--g3: conic-gradient(from -60deg at 50% calc(175% / 12), var(--c));
	background: var(--g1), var(--g1) var(--s) calc(1.73 * var(--s)), var(--g2),
	  var(--g2) var(--s) calc(1.73 * var(--s)), var(--g3) var(--s) 0,
	  var(--g3) 0 calc(1.73 * var(--s)) #1e1e1e;
	background-size: calc(2 * var(--s)) calc(3.46 * var(--s));
}


.logo {
	text-decoration: none;
	font-family: 'Nunito', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-size: 40px;
	color: #fd6f37;
	padding-left: 10px;
}
button {
	background: none;
	height: 42px;
	width: 42px;
	margin: 15px;
	flex-direction: column;
	padding-top: 5px;
	display: flex;
	justify-content: center;
	gap: 8px;
	cursor: pointer;
	border: none;
	position: relative;
}
button span {
	display: block;
	width: 100%;
	height: 2px;
	background-color: white;
	transition: all 0.3s linear;
}
button.pushed .butt {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(50%);
}
button.pushed .butt:nth-child(1) {
	transform: rotate(225deg);
}
button.pushed .butt:nth-child(2) {
	transform: rotate(315deg);
	opacity: 0%;
}
button.pushed .butt:nth-child(3) {
	transform: rotate(315deg);
}
main {
	justify-content: center;
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
	object-fit: cover;
}
header {
	background-color: #e8e8e89d;
	height: 65px;
	align-items: center;
	display: flex;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	z-index: 999;
}
.cont-menu {
	padding: 0;
	margin: 0;
	position: fixed;
	width: 300px;
	height: 100%;
	background:  #1e1e1e;
	top: 65px;
	right: 0;
	justify-content: center;
	display: flex;
	align-items: center;
	transform: translateX(100%);
	transition: 0.5s linear;
}
.opened {
	transform: translateX(0);
}
.cont-menu ul a {
	color: white;
	text-decoration: none;
	font-family: 'Bebas Neue', sans-serif;
	font-family: 'Ubuntu', sans-serif;
	font-size: 30px;
	display: block;
	text-align: center;
}
.cont menu ul li a {
	padding: 10px 16px;
	display: block;
}
.cont-menu ul {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
}
.cont-menu li a:hover {
	background-color: whitesmoke;
	color: #fd6f37 ;
	transition: 0.1s linear;
}
.cont-menu ul li {
	width: 100%;
	list-style: none;
}

.wrapper-verytop {
	padding-top: 100px;
	font-weight: 600;
	font-size: 50px;
	height: auto;
	width: auto;
	color: #f8743f;
	text-align: center;
	margin-bottom: 40px;
	font-family: 'Nunito', sans-serif;
	font-family: 'Open Sans', sans-serif;
}

.sh-block {
	position: relative;
	vertical-align: top;
	letter-spacing: normal;
	border-radius: 16px;
	overflow: hidden;
	box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.14);
	transition: opacity 0.15s linear 0;
	display: inline-block;
	text-align: left;
	background-repeat: no-repeat;
}
.sh-block .country{
	font-family: 'Nunito', sans-serif;
	font-family: 'Open Sans', sans-serif;
position: absolute;
top: 10px;
right: 10px;
background: rgba(255, 255, 255, 0.7);
z-index: 999;
color: black;
padding: 5px;
border-radius: 7px;
}
.sh-block:hover {
	transform: translateY(-10px);
	box-shadow: 0px 10px 10px #e77447 ;
}

.sh-block a{
	display: block;
	width: 100%;
	height: 100%;

}
.sh-block img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media screen and (min-width: 801px) and (max-width: 5200px) {
	.mobfixg {
		display: none !important;
	}
}
.text{
	display: flex;
	flex-direction: column;
    z-index: 1;
    justify-content: flex-start;
    outline: 0;
    user-select: none;
    position: absolute;
    padding: 0;
	bottom: 0;
	left: 0;
    width: 100%;
	background: rgba(255, 255, 255, 0.452);
}
.textupper {
	font-size: 25px;
	line-height: 30px;
	padding: 0 18px 6px;
	font-weight: 500;
	white-space: normal;
	font-family: 'Nunito', sans-serif;
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	align-items: stretch;
}
.textdown{
	font-size: 15px;
    line-height: 20px;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
    padding: 3px 18px 2px;
	font-family: 'Nunito', sans-serif;
	font-family: 'Open Sans', sans-serif;
}
.showplaces{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr ;
	gap:30px;
	width:1200px;
	margin: 0 auto;
}

@media(max-width: 1320px) {
	.container{
		width: 100%;
		padding: 0 30px;
	}
	.showplaces{
		width: 100%;
	}
	.sh-block img{
		object-fit: cover;
	}
	.sh-block .text .textupper{
		font-size: 20px;
	}
	.sh-block .text .textdown{
		font-size: 15px;
	}
	.cont-menu{
		width: 200px;
	}
}
@media(max-width: 992px) {
	.showplaces{
		grid-template-columns: 1fr 1fr;
		padding: 0 15px;
	}
	.pattern .wrapper-verytop{
		word-wrap: break-word;
	}
}

@media (max-width: 500px) {
	.pattern .wrapper-verytop{
		word-wrap: break-word;
	}
	.showplaces{
		grid-template-columns: 1fr;

	}
	.container h2 {
	text-align: left;
	}
	.container p {
		text-align: left;
		}

	.owl-carousel img {
	margin: auto;
	float: none;
	display: block;
	}
}